@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}
*:focus {
    outline: 2px dotted rgb(69, 128, 128);
    outline-offset: 5px;
}
body {
  padding: 0;
  margin: 0;
  color: #5ca5a5;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 13px;
  background: #f2f2f2;

}

.container {
  width: 100%;
  max-width: 1150px;
  /* border: 2px solid red; */
  margin-right: auto;
  margin-left: auto;
}

/* SITE HEADER */

.sitenav {
  width: 100%;
  height: 156px;
  background: linear-gradient(45deg,rgb(201, 218, 218), rgb(92, 165, 165), rgb(99, 186, 186), rgb(100, 166, 166), rgb(180, 221, 221));
  margin-bottom: 76px;
}
/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
  background: #f2f2f2;
}

.hero-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  background: #ffffff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  margin-bottom: 24px;
}
.hero-card:last-child {
    margin-bottom: 120px;
}
.hero-card-border {
    border-left: 5px solid #5ca5a5;
}
.hero-card-left {
  display: flex;
  align-items: center;
}
.hero-card-img {
  display: flex;
  width: 88px;
  height: 88px;
  object-fit: cover;
  margin-right: 24px;
}

.hero-card-info-top-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #5ca5a5;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
.hero-card-info-top-item:first-child a {
  color: #5ca5a5;
}
.hero-card-info-top-item:not(:last-child) {
  padding: 0;
  margin: 0;
  margin-right: 16px;
}
.hero-card-info-top-item:nth-child(2) {
  color: #ffffff;
  background: #5ca5a5;
  border-radius: 12px;
  padding: 0;
  margin: 0;
  padding: 6px 8px;
  margin-right: 8px;
}
.hero-card-info-top-item:last-child a {
  color: #fff;
  background: #2b3939;
  border-radius: 12px;
  padding: 6px 8px;
}
.hero-card-info-top-link {
  text-decoration: none;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.hidden {
    display: none;
}

.hero-card-info-title {
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2b3939;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
.hero-card-info-bottom-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0;
  margin: 0;
}
.hero-card-info-bottom-item {
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 36px;
}

.hero-card-right {
  display: flex;
}
.hero-card-right-list {
  display: flex;
  align-items: center;
  list-style: none;
  color: #5ca5a5;
  padding: 0;
  margin: 0;
  padding: 4px 8px;
}
.hero-card-right-item {
  background: #cfe8e898;
  border-radius: 4px;
  mix-blend-mode: normal;
  color: #5ca5a5;
  padding: 4px 8px;
  /* opacity: 0.1; */
}
.hero-card-right-item:not(:last-child) {
  margin-right: 16px;
}
.hero-card-right-link {
  text-decoration: none;
  font-family: "Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5ca5a5;
}
